<nav class="navbar navbar-default">
  <div class="container">
    
    <ul class="nav">
      {% if admin_auth.isAllowed(app.user, 'list_users') and  app.user is not empty %}
    <li><a  class="nav-link" href="{{ path('list_users') }}">Списък на потребителите</a></li>{% endif %}
      {% if admin_auth.isAllowed(app.user, 'list_roles') and  app.user is not empty %}
    <li><a class="nav-link" href="{{ path('list_roles') }}"> Списък на ролите</a></li>{% endif %}
    {% if admin_auth.isAllowed(app.user, 'isic_import') and  app.user is not empty %}
    <li><a class="nav-link" href="{{ path('isic_import') }}"> Импорт на Excel файл</a></li>{% endif %}
    {% if admin_auth.isAllowed(app.user, 'generate_xml') and  app.user is not empty %}
    <li><a class="nav-link" href="{{ path('generate_xml') }}"> Генериране на XML файл</a></li>{% endif %}
    {% if admin_auth.isAllowed(app.user, 'search_xml') and  app.user is not empty %}
    <li><a class="nav-link" href="{{ path('search_xml') }}"> Търсене на XML файл</a></li>{% endif %}
   {% if admin_auth.isAllowed(app.user, 'logout') and  app.user is not empty %}
    <li><a class="nav-link" href="{{ path('logout') }}"> Изход</a></li>{% endif %}
    </ul>
  </div>
</nav>
