{#{% extends "::layout/admin/1-column.html.twig" %}#}
{#{% block content -%}#}
    <div class="inner">
        <h1>Оценки от изпити - Export/Import</h1>
        {#	<div class="alert alert-info content-col">Изберете изпит</div>#}

        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-error">
                {{ flashMessage|raw }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-info">
                {{ flashMessage|raw }}
            </div>
        {% endfor %}

        {% block javascripts %}
            {{ parent() }}
            {% javascripts
            '@UcictDataBundle/Resources/public/js/hideMarksButtons.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
        {{ form_start(uploadForm) }}
        <ul class="errorMessages errorMessage">

        </ul>
        {% if message is defined %}
            <ul class="errorMessage" style="display:block">
                {{ message }}
            </ul>
        {% endif %}

        <div class="alert alert-info" style="width: 370px; margin-left:auto;margin-right:auto;">

                1. Когато изтеглите файла, променяйте само оценките!. <br/>
                2. За неявили се студенти на даден изпит се въвежда 0. <br/>
                3. За преписали студенти на даден изпит се въвежда 1. <br/>
                4. Въвеждайте само оценки с 2 цифри в дробната част! <br/>

        </div>

        <table class="records_list table table-striped table-condensed">
            <thead>
            <tr>
                <th style="text-align: center;">Избери изпит</th>
                <th style="text-align: center;">Изтегли файл</th>
                <th style="text-align: center;">Добави файл</th>
                <th style="text-align: center;">Качи оценки</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: center;">
                    {{ form_widget(uploadForm.id, { 'attr' : {'class' : 'form-control'} }) }}
                </td>

                <td style="text-align: center;">
                    {{ form_widget(uploadForm.Export, {'attr': {'class': 'btn btn-warning btn-small'} }) }}
                </td>

                <td style="text-align: center;">
                    {{ form_label(uploadForm.file, null, {'label_attr' : {'class' : 'btn btn-danger btn-small'} }) }}
                    {{ form_widget(uploadForm.file, {'attr': {'class' : 'chooseFile'} }) }}
                </td>
                <td style="text-align: center;">
                    {{ form_widget(uploadForm.Submit, {'attr': {'class': 'btn btn-success btn-small'} }) }}
                </td>
                {{ form_end(uploadForm) }}
            </tr>
            </tbody>
        </table>
    </div>

{#{% endblock %}#}