{# app/Resources/views/security/edit_user.html.twig #}
{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
<div id = "container">
{% include('menu.html.twig') %}
<h2>Редактиране на потребител</h2>
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.userRoles) }}

    
{{ form_end(form) }}


</div>
{% endblock %}