{# app/Resources/views/security/register.html.twig #}
{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
<div id = "container">


{% if admin_auth.isAllowed(app.user, 'user_registration') and  app.user is not empty %}
    <li><a href="{{ path('user_registration') }}">Създаване на потребител</a></li>{% endif %}
</ul>
<h2>Създаване на потребител</h2>
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    {{ form_row(form.userRoles) }}

    
{{ form_end(form) }}
</div>
{% endblock %}